
    a:link {
        font-family: Arial, Helvetica, sans-serif;
        color: brown;
    }   

    a:hover {
        font-family: Arial, Helvetica, sans-serif;
        color: yellow;
        background-color: grey;
    }

	.h1_top {
		text-align: center;
		font-size: 50px;
		color: green;
	}

	li {
		font-weight: bold;
	}

	.li_nav_top {
		display: inline;
		padding: 40px;
	}

	#nav_top {
		text-align: center;
	}

	.aleft {
		float: left;
		width: 15%;
	}

	#img_left {
		width: 115%;
	}
	
	#sec_center {
		font-family: Arial, Helvetica, sans-serif;
		float: left;
		width: 60%;
		padding-left: 10px;
		border-left: 1px black dotted;
		border-right: 1px black dotted;
	}
	
	.aright {
		float: left;
		width: 15%;	
	}

	#img_right {
		width: 150%;
        height: 300px;
    }

	.header_center {
		text-align: center;
	}

	.div_para {
		font-size: 20px;
	}

	footer {
		clear: left;
		padding-top: 10px;
		text-align: center;
	}

	.below_img {
		font-weight: bold;
	}

	u {
		color: green;
	}
	
	#bible {
		color: violet;
	}
	