a:link {
    text-decoration: none;
}

#img-logo{
    width: 200px;
    float: left;
}

#img-callus{
    width: 200px;
    float: right;
}

#header-container {
    background-image: url(../img/mini1/headerbgcolor.png);
    background-size: cover;
}

.title-news {
    color: white;
    text-align: center;
    background-image: url(../img/mini1/headerbgcolor.png);
    padding: 5px;
    margin: 5px;
}

#giveus {
    color: rgb(73, 12, 55);
    font: sans-serif;
    padding-top: 5px;
    text-align: left;
    background-color: lightgrey;
 }

h2 {
  color: rgb(27, 23, 23);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.img-news-content {
    width: 100%;
    padding: auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }

  .div-news-content {
    width: 100%;
    padding: 10px;
    text-align: left;
    color: azure;
    
  }
  h4 {
    padding: 5px;
    color:blue;
    padding: 5px;
    text-decoration: underline green;
  }

  p {
      padding: px;
      color: rgb(36, 35, 37);
  }

  .container-flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1900px;
  }

  #btn-love {
    text-align: center;
    padding: 10px;
  }

  .container-footer-flex {
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-image: url(../img/mini1/headerbgcolor.png);
    max-width: 1900px;
  }

  .div-footer {
    width: 30rem;
    padding: 5px;
  }

  #img-logo-footer {
      width: 160px; 
  }
  
  .img-logo-social {
      width: 25px;
  }

  .img-logo-partner {
      width: 90px;
  }

  #copyright {
      color: teal;
      padding: 5px;
      font-size: 12px;
  }


  /* Start contact*/                       
  #img-contact {
    width: 100%;
    padding: 5px;
  }

  /*#contact-row {
    background: url(../img/mini1/headerbgcolor.png);
    background-size: cover;
    
  }
*/
  .contact-form-only {
    padding: 20px;
    border-radius: 2%;
    background: url(../img/mini1/bgbgbg1.png);
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

     #btn-summit {
      text-align: right;
     }
 /* End contact*/                        

/* start mission*/
#img-mission {
  width: 100%;
}
/*end mission*/

/*start corona news*/
#img-corona {
  width: 100%;
}
/*end corona news*/

/*start doctor news*/

.img-doctors-info {
  width: 100px;
  height: 100px; 
  padding: 0;
}
#div-img-doctor {
  margin-bottom: 5px;
}
/*end doctor news*/

/* services*/
#service-container {
  background: url(../img/mini1/headerbgcolor.png);
  background-size: cover;
}

.li-service-content {
  background: url(../img/mini1/services-bg-content.png);
  background-size: cover;
}
/* endservices*/

#about-content{
  background: url(../img/mini1/aboutcontentbg.png);
  background-size: cover;
} 

/* login */
.title-login{
  text-align: center;
}

form {
   border: 10px solid white;
   margin: 20px;
}   

  .input-login[type=text], .input-login[type=password] {   
   width: 100%;   
   margin: 8px 0;  
   padding: 2px 2px;   
   display: inline-block;   
   border: 1px solid green;   
   box-sizing: border-box;   
}  
   
#login-container {
   padding: 25px;
   border-radius: 5%;
   background-color: lightblue;
   -webkit-border-radius: 5%;
   -moz-border-radius: 5%;
   -ms-border-radius: 5%;
   -o-border-radius: 5%;
  
}
   .btn-submit {
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
   
/* endlogin */

/*main*/




/* Start Media*/
  @media(min-width: 675px) {        
  
    .container-flex {
      flex-direction: row;
    }
  
    .container-footer-flex {
        flex-direction: row;
    }

    ,container-doctor-info-flex {
      flex-direction: row;
    }
 
  }
  
/* End Media*/


