a:link {
    text-decoration: none;
}

#img-logo{
    width: 200px;
    float: left;
}

#img-callus{
    width: 200px;
    float: right;
}

#header-container {
    background-image: url(../img/mini1/headerbgcolor.png);
    background-size: cover;
}

.title-news {
    color: white;
    text-align: center;
    background-image: url(../img/mini1/headerbgcolor.png);
    padding: 5px;
    margin: 5px;
}

#giveus {
    color: rgb(73, 12, 55);
    font: sans-serif;
    padding-top: 5px;
    text-align: left;
    background-color: lightgrey;
 }

h2 {
  color: rgb(27, 23, 23);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.img-news-content {
    width: 26rem;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }

  .div-news-content {
    width: 30rem;
    padding: 5px;
    text-align: left;
  }

  h4 {
    padding: 5px;
    color:blue;
    padding: 5px;
    text-decoration: underline green;
  }

  p {
      padding: 5px;
      color: rgb(36, 35, 37);
  }

  .container-flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1900px;
  }

  #btn-love {
    text-align: center;
    padding: 10px;
  }

  .container-footer-flex {
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-image: url(../img/mini1/headerbgcolor.png);
    max-width: 1900px;
  }

  .div-footer {
    width: 30rem;
    padding: 5px;
  }

  #img-logo-footer {
      width: 160px; 
  }
  
  .img-logo-social {
      width: 25px;
  }

  .img-logo-partner {
      width: 90px;
  }

  #copyright {
      color: teal;
      padding: 5px;
      font-size: 12px;
  }


  /* Start contact*/                       
  #img-contact {
    width: 100%;
    }

  .contact-form-only {
    padding: 10px;
    background: url(../img/mini1/bgbgbg1.png);
  }

     #btn-summit {
      text-align: right;
     }
 /* End contact*/                        

/* start mission*/
#img-mission {
  width: 100%;
}
/*end mission*/

/*start corona news*/
#img-corona {
  width: 100%;
}
/*end corona news*/

/*start doctor news*/
#img-doctor {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
  
}

.img-doctors-content {
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

}
.container-doctor {
display: flex;
flex-direction: column;
margin: 0 auto;
max-width: 1900px;

}
  
/* Start Media*/
  @media(min-width: 675px) {        
  
    .container-flex {
      flex-direction: row;
    }
  
    .container-footer-flex {
        flex-direction: row;
    }

    .container-doctor {
      flex-direction: row;
}
  }
  
/* End Media*/


